body {
	background-color: #1C2833;
	font-family: verdana;
	width: 1500px;
}
h1 {
	background-color: darkgray;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
h2 {
	font-size: 40px;
	text-align: center;
}
h3 {
	font-size: 20px;
}
p {
	text-align: center;
	font-size: 25px;
}
p1 {
	font-size: 20px;
}
#container1 {
	background-color: whitesmoke;
	color: #212F3C;
	width: 1100px;
	height: 1800px;
	margin-left: auto;
	margin-right: auto;
}
#container2 {
	background-color: whitesmoke;
	width: 1100px;
	height: 1550px;
	margin-left: auto;
	margin-right: auto;
}
#container3 {
	background-color: whitesmoke;
	width: 1100px;
	height: 2000px;
	margin-left: auto;
	margin-right: auto;
}
#container4 {
	background-color: whitesmoke;
	width: 1100px;
	height: 7925px;
	margin-left: auto;
	margin-right: auto;
}
#container5 {
	background-color: whitesmoke;
	width: 1100px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#welcome {
	background-color: ghostwhite;
	width: 700px;
	height: 250px;
	margin-top: 20px;
	float: left;
}
#AboutMe {
	background-color: ghostwhite;
	width: 700px;
	height: 250px;
	float: left;
}
#Resume {
	background-color: ghostwhite;
	width: 700px;
	height: 250px;
	margin-bottom: 20px;
	float: left;
}
#Passion {
	background-color: ghostwhite;
	width: 700px;
	height: 250px;
	margin-bottom: 20px;
	float: left;
}
#image1 {
	background-color: white;
	width: 400px;
	height: 250px;
	margin-top: 20px;
	float: left;
}
#image2 {
	background-color: white;
	width: 400px;
	height: 250px;
	float: left;
}
#image3 {
	background-color: white;
	width: 400px;
	height: 250px;
	margin-bottom: 20px;
	float: left;
}
#image4 {
	background-color: white;
	width: 400px;
	height: 250px;
	margin-bottom: 20px;
	float: left;
}
.button {
	background-color: lightcoral;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	margin-top: 25px;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.button:hover {
	background-color: pink;
}
#skills {
	background-color: lightgray;
	width: 370px;
	height: 850px;
	float: left;
}
#information {
	background-color: whitesmoke;
	width: 730px;
	height: 850px;
	float: left;
}
#navigation {
	font-family: bookman;
	text-align: center;
	font-size: 20px;
	width: 100%;
	padding-top: 10px;
	position: relative;
	left: 270px;
	clear: both;
}
ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
li {
	float: left;
}
li a {
	letter-spacing: 5px;
	color: #212F3C;
	padding: 10px 12px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: lightgray;
}
.active {
	background-color: lightcoral;
}
#footer {
	background-color: gray;
	text-align: center;
	margin-top: 40px;
	width: 1100px;
	height: 70px;
	clear: both;
}
.button {
	background-color: #f4511e;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.button:hover {
	opacity: 1
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-pinterest {
	background: #cb2027;
	color: white;
}
